Source: <lsfusion-client>
Section: devel
Priority: optional
Maintainer: lsFusion <info@lsfusion.org>
Build-Depends: build-essential, debhelper (>= 9)

Package: <lsfusion-client>
Architecture: all
Version: <lsfusion-version>
Description: <lsfusion-description>
